/* Global variable declaration */
:root {
	--table-border-radius: 8px;
	--table-text-color: #09090b;
	--table-border: 2px solid var(--mat-sys-primary);
}

.no-hint {
	.mat-mdc-form-field-subscript-wrapper {
		line-height: 0 !important;
	}
	.mat-mdc-form-field-bottom-align::before {
		height: auto !important;
		max-height: 16px;
	}
}
